
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8E8DD;
    color: #333;
}

header {
    background-color: #FFAF87;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


#menu {
    padding: 20px;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

button.add-to-cart {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}


.category-btn {
    background-color: #FFAF87;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


#carrito {
    padding: 20px;
    text-align: center;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#vaciar-carrito {
    background-color: #D32F2F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


#reservas {
    text-align: center;
    padding: 20px;
}

#reservas form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#reservas input, #reservas button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
}

#reservas button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
